@use "../abstracts/variables" as vars;
@use "sass:color";

.project {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12.5px;

    &:hover,
    &:focus {
        .project__illustration {
            &::before {
                background-color: color.change(
                    vars.$color-secondary,
                    $alpha: 0.1
                );
            }

            img {
                transform: scale(1.15);
            }
        }
    }

    &__illustration {
        position: relative;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: color.change(vars.$color-secondary, $alpha: 0.4);
            z-index: 1;
            transition: background-color 0.3s ease;
        }

        img {
            width: 100%;
            transition: transform 0.3s ease;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__title {
        font-size: clamp(vars.$font-title-4, 3vw, vars.$font-title-3);
    }

    @media (max-width: 800px) {
        &__content {
            align-items: center;
        }

        &__title,
        &__text {
            text-align: center;
        }

        &__title {
            font-size: clamp(vars.$font-title-5, 3.75vw, vars.$font-title-4);
        }
    }
}
