@use "../abstracts/variables" as vars;

.service {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: clamp(30px, 12.5cqi, 50px);
    background-color: vars.$color-tertiary-light;
    padding: clamp(20px, 10cqi, 40px);
    border-radius: 20px;

    &--dark {
        background-color: vars.$color-secondary;

        .service {
            &__icon {
                background-color: vars.$color-tertiary;

                img {
                    filter: brightness(1) invert(1);
                }
            }

            &__title,
            &__text {
                color: vars.$color-tertiary;
            }
        }
    }

    &__icon {
        width: clamp(60px, 20cqi, 80px);
        height: clamp(60px, 20cqi, 80px);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: vars.$color-secondary;
        border-radius: 50%;

        img {
            width: 40%;
            height: 40%;
            filter: brightness(0) invert(1);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__title {
        font-size: clamp(20px, 6.25cqi, 25px);
        font-weight: 500;
    }

    @media (max-width: 800px) {
        align-items: center;

        &__content {
            align-items: center;
        }

        &__title,
        &__text {
            text-align: center;
        }
    }
}
