@use "../abstracts/variables" as vars;

.testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: clamp(20px, 6vw, 35px);

    &__photo {
        width: clamp(120px, 25vw, 150px);
        height: clamp(120px, 25vw, 150px);
        object-fit: cover;
        border-radius: 50%;
    }

    &__quote {
        font-family: vars.$font-headings;
        font-size: clamp(20px, 4.175vw, 25px);
        font-weight: 700;
        text-align: center;
    }

    &__infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
    }

    &__name {
        font-size: vars.$font-title-5;
        font-weight: vars.$font-weight-headings;
    }

    &__position {
        font-size: vars.$font-medium;
    }
}
