@use "../abstracts/variables" as vars;

.section-header {
    display: flex;
    flex-direction: column;
    row-gap: clamp(15px, 2.5vw, 25px);

    &--light {
        .section-header__subtitle {
            color: vars.$color-tertiary;
        }
    }

    &--big {
        width: min(700px, 100%);
    }

    &--medium {
        width: min(650px, 100%);
    }

    &--small {
        width: min(580px, 100%);
    }

    &--center {
        align-items: center;
        .section-header {
            &__title,
            &__subtitle {
                text-align: center;
            }
        }
    }

    &__title {
        font-size: clamp(vars.$font-title-5, 3vw, vars.$font-title-4);
        line-height: 1.15;
        color: vars.$color-primary;
    }

    &__subtitle {
        font-size: clamp(vars.$font-title-4, 4.2667vw, vars.$font-title-2);
        line-height: 1.15;
    }
}
