// Colors
$color-primary: #64ccc5;
$color-secondary: #0c0c0c;
$color-tertiary: #ffffff;

$color-secondary-light: #121212;
$color-tertiary-dark: #f4f4f4;
$color-tertiary-light: #dfdfdf;

$color-text: $color-secondary;

// Fonts
$font-headings: "Roboto Serif", Arial, sans-serif;
$font-text: "DM Sans", Arial, sans-serif;

$font-title-1: 77px;
$font-title-2: 64px;
$font-title-3: 45px;
$font-title-4: 30px;
$font-title-5: 20px;
$font-title-6: 18px;

$font-small: 0.875rem; // 14px
$font-medium: 1rem; // 16px

$font-weight-headings: 600;

$line-height-title: 1.3;
$line-height-text: 1.25;

$container-max-width: 1400px;
$container-gutter: 20px;
