@use "../abstracts/variables" as vars;

.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding-block: 25px;
    margin-top: 32px;
    z-index: 1;

    &--home {
        .header__logo {
            color: vars.$color-tertiary;

            img {
                filter: none;
            }
        }

        .menu__list a {
            color: vars.$color-tertiary;

            &:hover,
            &:focus-visible {
                color: vars.$color-primary;
            }
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-family: vars.$font-headings;
        font-size: vars.$font-title-4;
        transition: color 0.3s ease;

        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            filter: brightness(0) invert(1);
        }
    }
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        column-gap: 40px;

        a {
            font-size: vars.$font-title-5;
            transition: color 0.3s ease;
        }
    }
}
