@use "../abstracts/variables" as vars;
@use "sass:color";

.hero {
    position: relative;
    background-color: vars.$color-secondary;
    background-image: url("../../assets/images/hero-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: clamp(110px, 10vw, 150px) clamp(50px, 10vw, 150px);

    &::before {
        content: "";
        position: absolute;
        width: 183px;
        height: 192px;
        top: 185px;
        right: calc(100% - 140px);
        background-image: url("../../assets/images/hero-ornament.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__container {
        display: grid;
        grid-template-columns: minmax(0, 13fr) minmax(0, 15fr);
        column-gap: 30px;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 50px;
        padding-block-start: clamp(0px, 6.666vw, 100px);
    }

    &__content {
        max-width: 96%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    &__cta {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__illustration {
        position: relative;

        div {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid color.change(vars.$color-primary, $alpha: 0.4);
            border-radius: 50%;
            aspect-ratio: 1;
            overflow: hidden;

            > div {
                width: 87.5%;
                border: 2px solid
                    color.change(vars.$color-tertiary-light, $alpha: 0.4);
            }
        }

        img {
            width: 87.5%;
            border-radius: 50%;
            aspect-ratio: 1;
            object-fit: cover;
        }
    }

    &__title {
        font-size: clamp(vars.$font-title-4, 4.2667vw, vars.$font-title-2);
        line-height: 1.15;
        color: vars.$color-tertiary;

        span {
            color: vars.$color-primary;
        }
    }

    &__text {
        color: vars.$color-tertiary;
    }

    &__button {
        align-self: start;
    }

    &__brands {
        font-size: vars.$font-title-5;
        color: vars.$color-primary;
    }

    &__links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 30px;
    }

    @media (max-width: 1700px) {
        &::before {
            display: none;
        }
    }

    @media (max-width: 800px) {
        padding-block-start: 90px;
        &__container {
            display: flex;
        }

        &__wrap {
            padding-block-start: 0;
        }

        &__content {
            max-width: 100%;
        }

        &__illustration {
            display: none;
        }
    }
}
