@use "../abstracts/variables" as vars;

.services {
    padding-block: 100px 130px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, minmax(420px, 1fr));
        grid-auto-rows: 1fr;
        column-gap: 65px;
        row-gap: 80px;
    }
}
