@use "../abstracts/variables" as vars;

.testimonies {
    margin-block-start: clamp(50px, 6.666vw, 100px);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        background-color: vars.$color-tertiary-light;
        padding: clamp(20px, 5.6125vw, 45px);
        border-radius: 20px;
    }

    &__list {
        width: 100%;
        min-width: 0;
        display: grid;
        row-gap: 40px;
    }

    &__item {
        min-width: 0;
    }

    &--slider {
        .testimonies__list {
            row-gap: 0;
        }

        .testimonies__item {
            grid-area: 1 / 1;
            visibility: hidden;

            &.active {
                visibility: visible;
            }
        }
    }

    &__pagination {
        display: flex;
        column-gap: 10px;

        &[hidden] {
            display: none;
        }

        button {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: vars.$color-secondary;
            border: 1px solid vars.$color-secondary;
            border-radius: 50%;
            transition:
                background-color 0.3s ease,
                border-color 0.3s ease;

            &:disabled {
                background-color: vars.$color-tertiary-light;

                svg {
                    stroke: vars.$color-secondary;
                }
            }

            &:not(:disabled) {
                &:hover,
                &:focus-visible {
                    background-color: vars.$color-primary;
                    border-color: vars.$color-primary;

                    svg {
                        stroke: vars.$color-secondary;
                    }
                }
            }

            &:first-child {
                svg {
                    transform: rotate(180deg);
                }
            }

            svg {
                width: 50%;
                height: 50%;
                stroke: vars.$color-tertiary;
                transition: stroke 0.3s ease;
            }
        }
    }
}
